# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.egg
.env

# Temp audio files
/tmp/
backend/.env

# Node / Next.js
node_modules/
.next/
out/
frontend/.env
frontend/.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
